/*
  Author: Chennighan
  Description: The main file for our apps styling.
*/

img {
  padding: 25px 0px 25px 0px;
}

.productContainer {
  margin: 5px;
  padding: 10px;
  background: #E5E5E5;
  border: solid 2px #BFBFBF;
}

.spotlightDescription {
  padding-bottom: 10px;
}

.productListItem {
  height: 360px;
  max-height: 360px;
  position: relative;
}

/* personally i like a border radius, but the jpg didn't have one so i will override it */
.productListButton {
  width: 90%;
  background: #B7B7B7;
  border: 1px solid;
  border-radius: 0;
}
.productListButton:hover {
  background: #CCCCCC;
}

.viewMoreButton {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.productPrice {
  font-size: 20px;
  margin-top: 25px;
}
